@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&display=swap');

@font-face{
    font-family: 'land';
    src: url('../fontes/ilha encantada.otf'); format:('opentype');
}

:root{
    --cor1:#F5C211;
    --cor2:#1126F5;
    --cor3:#4049A0;
    --cor4:#B89D3B;
    --cor5:#756A43;

    --fonte-padrao: 'hedvig', sans-serif;
    --fonte-especial: 'land', sans-serif;
}

*{
    margin: auto;
    line-height: 2em;
}

body{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}

p{
    font-family: var(--fonte-padrao);
    padding-right: 20px;
    padding-left: 20px;
}

header{
    background-color: white;
    text-align: center;
    padding-bottom: 30px;
    margin: 20px;
    background-image: linear-gradient(to top,var(--cor2), var(--cor1));
    border-radius: 10px;
    box-shadow: -2px 5px 6px 0px rgba(0, 0, 0, 0.459);
}

header h1{
    font-family: var(--fonte-especial);
    font-size: 3em;
    text-shadow: 1px 0px 3px black;
    font-weight: normal;
}


header p{
    padding-top: -10px;
    font: normal 1.5em black;
    font-family: var(--fonte-padrao);
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.377);
}

main{
    background-color: white;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    text-indent: 30px;
    line-height: 1.2em;
    background-color: lightblue;
    border-radius: 10px;
    box-shadow: -1px -1px 8px 0px rgba(0, 0, 0, 0.329);
}

main p{
    text-align: justify;
}

main strong{
    color: var(--cor2);
    background-color: rgba(5, 30, 252, 0.13);
}

main a{
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

main  a:visited{
    color: var(--cor5);
}

main h1{
    font-family: var(--fonte-especial);
    font-size: 2.8em;
    background-color: var(--cor3);
    text-align: justify;
    border-radius: 10px 10px 0px 0px;
    margin-top: -10px;
}

main  h2{
    font-family: var(--fonte-especial);
    font-size: 1.9em;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    text-align: justify;
}

div.video{
    background-color: var(--cor3);
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

img{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}

article p{
    padding-top: 10px;
}

article  aside > p.extra{
    background-color: rgb(58, 101, 116);
    font-weight: bold;
    color: black;
    font-size: 1.3em;
}

article aside{
    border-radius: 0px 0px 10px 10px;
    background-color: rgb(77, 134, 153);
    font-family: var(--fonte-padrao);
    font-weight: bold;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.315);
}

aside > ul{
    list-style-type: '\2714';
    columns: 2;
}

footer{
    text-align: center;
    background-color: var(--cor5);
    color: white;
    margin-top: -15px;
}